<div ngTabs class="retro-tabs">
  <div ngTabList selectionMode="follow" selectedTab="movie">
    <div ngTab value="movie">Movie</div>
    <div ngTab value="theatres">Cast</div>
    <div ngTab value="showtimes">Reviews</div>
  </div>
  <div ngTabPanel value="movie">
    <ng-template ngTabContent>
      <app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>
<h4>Your Todos</h4>
<div *ngIf="this.todos.length == 0; else elseBlock">
    No todos to show! Please add some todos.</div>
<ng-template #elseBlock>
<div *ngFor="let todo of todos"> 

<app-todo-item [todo]="todo" (todoDelete)="deleteTodo($event)" (todoToggle)="toggleTodo($event)"></app-todo-item>
</div>  
</ng-template>
    </ng-template>
  </div>
  <div ngTabPanel value="theatres">
    <ng-template ngTabContent>Line 2</ng-template>
  </div>
  <div ngTabPanel value="showtimes">
    <ng-template ngTabContent>Line 3</ng-template>
  </div>
</div>